<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>极客时间复刻版</title>
        <link rel="shortcut icon" href="./bitbug_favicon.ico" />
        <link
            rel="stylesheet"
            href="./lib/elmentui/element.css"
        />
        <link
            rel="stylesheet"
            href="./index.css"
        />
        
        <script src="./lib/vue.js"></script>
        <script src="./lib/elmentui/element.js"></script>
    </head>
    <body>
        <div class="read-wrapper" id="app">
            <!-- 左侧侧边目录 -->
            <aside class="aside" v-show="isFold">
                <i @click="toggleOutline" class="el-icon-s-fold show-outline"></i>
                <section class="outline-wrapper" v-show="showOutline">
                    <header>
                        <span>大纲</span>
                    </header>
                    <div :id="item.top" :key="item.name" v-for="item in outlineList" :class="outlineClassObj(item)" @click="jumpToTitle(item)">{{item.name}}</div>
                </section>
                <h2 class="diy-title">课程目录</h2>
                <el-menu
                :unique-opened="uniqueOpened"
                    :default-active="activeArticleId"
                    class="el-menu-vertical-demo"
                    @select="selectArticle"
                >
                    <el-submenu  :index="item.id" v-for="item in contentsList" :key="item.id" >
                        <template slot="title">
                            <span>{{item.title}}</span>
                        </template>
                        <el-menu-item v-for="sub in item.subList" :index="sub.id" :key="sub.id">{{sub.title}}</el-menu-item>
                    </el-submenu>
                </el-menu>
            </aside>
            <!-- 右侧内容 -->
            <section class="content">
                <div class="course-info" v-show="navIsShow">
                    <i @click="changeFold" v-show="isFold" class="el-icon-s-fold"></i>
                    <i @click="changeFold" v-show="!isFold" class="el-icon-s-unfold"></i>
                    <span class="jk-title" >{{curTitle}}</span>
                    <aside>
                        <el-dropdown trigger="click" @command="changeColumn">
                            <el-tooltip content="选课" placement="top">
                                <i class="el-icon-reading cursor-pointer" style="font-size: 16px"></i>
                              </el-tooltip>
                            <el-dropdown-menu slot="dropdown" >
                              <el-dropdown-item v-for="item in columnList" :key="item.id"  :command="item.id" :divided="item.divided">{{item.title}}</el-dropdown-item>
                            </el-dropdown-menu>
                          </el-dropdown>  

                        <el-tooltip content="全屏阅读" placement="top">
                            <i @click="fullScreen" class="el-icon-full-screen cursor-pointer" style="margin-left: 10px;"></i>
                          </el-tooltip>
                        <el-tooltip content="提示" placement="top">
                            <i @click="watchTipVideo" class="el-icon-s-opportunity cursor-pointer" style="margin-right: 10px;margin-left: 10px;"></i>
                          </el-tooltip>

                          
                    </aside>
                    
                </div>
                <section class="article-wrapper" v-html="content" v-loading="loading"  ></section>
            </section>
            <i v-show="isFullScreen" @click="notFullScreen" class="el-icon-magic-stick exit-full cursor-pointer"></i>
            <el-dialog
            title="提示"
            :visible.sync="previewImg.show"
            :width="previewImg.width"
            center
            :show-close="previewImg.showClose"
            >
            <div slot="title"></div>
            <img :src="previewImg.src" alt="" srcset="">
            </el-dialog>

        </div>
        

        
        <script src="./index.js"></script>
        <!-- <link rel="stylesheet" href="dark-theme.css"> -->
    </body>
</html>
